      body {
        font-family: Arial;
      }

      .todo-grid,
      .todo-input-grid {
        display: grid;
        grid-template-columns: 200px 150px 100px;
        column-gap: 10px;
        row-gap: 10px;
        align-items: center;
        margin:10px;
      }
      .todo-grid {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: start;
      }
      .todo-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: fit-content;
        background-color: var(--acent-clr);
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        font-family: sans-serif;
      }
      .todo-input-grid {
        margin:10px;
        align-items: stretch;
      }

      .name-input,
      .due-date-input {
        font-size: 15px;
        padding: 6px;
      }

      .add-todo-button {
        background-color: green;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
      }

      .delete-todo-button {
        background-color: darkred;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        padding: 5px;
      }