/* SideBar */
.sidenav {
    border: 5px solid rgb(40, 40, 40);
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav img{
    transition: transform .5s, background-color 0.5s ease; 
    border-radius: 5px;
    cursor: pointer;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
    transition: color 0.5s ease;
}

.nav-item1:hover, .nav-item2:hover, .nav-item3:hover, .nav-item4:hover {
    text-align: center; /* Centers the image horizontally */
    background-color: gray;
    border-radius: 20px;
    transform: scale(1.2);
    transition: transform 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.nav-item1, .nav-item2, .nav-item3, .nav-item4 {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center; /* Centers the image horizontally */
    border-radius: 20px;
    transition: transform 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
    opacity: 0.7;
}

.nav-item1:hover a, .nav-item2:hover a, .nav-item3:hover a, .nav-item4:hover a {
    color: #f1f1f1;
}

.nav-item img {
    align-content: center;
    margin-top: 20px;
}